# see http://about.travis-ci.org/docs/user/languages/php/ for more hints
language: php

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install

# list any PHP version you want to test against
php:
  # aliased to a recent 7.x version
  - 7.0

# omitting "script:" will default to phpunit
# use the $DB env variable to determine the phpunit.xml to use
script: phpunit
